@charset "utf-8";
/* CSS Document */

div.naughtyquestionholder
{
	width:677px;
	min-height:150px;
	margin-bottom:25px;
}
div.naughtyquestionholder #questionserialholder
{
	min-height:34px;
}
div.naughtyquestionholder #questionserialholder #serialholder
{
	width:32px;
	height:32px;
	float:left;
	background-color:#007DB8;
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	color:#FFF;
	font-size:15px;
	font-weight:bold;
}
div.naughtyquestionholder #questionserialholder #questionholder
{
	width:630px;
	min-height:32px;
	float:left;
	margin-left:12px;
	font-size:18px;
	font-weight:bold;
	color:#333333;
	text-align:left;
}